/*Set background image and fonts*/
body{
    background-image: url("backdrop.jpg") ;
    background-size: cover;
    padding-bottom: 3rem;
    background-position: center;
    opacity: 75%;
    height: 100vh;
    font-family: 'Roboto', sans-serif !important;    
}

/*Style jumbotron*/
.jumbotron{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 100px !important;
    font-weight: bold !important;
}

button {
    font-size: 0.75rem !important;
    font-weight: bold;
    background-color: antiquewhite;
}

.eaten {
    padding-left: 20rem !important ;
}

/*Changes to formatting when screen size changes*/
@media (min-width: 768px) {

.eaten {
    padding-left: unset !important ;
}

}